<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="localhost_ATRCPRODUCCION_Connection" connectionString="XpoProvider=MSSqlServer;data source=WIN-3DAOBNSV3RS\ATRCSERVER;user id=sa;password=@TRCSistemas1;initial catalog=ATRCPRODUCCION;Persist Security Info=true" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
