html, 
body, 
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.stats {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.stats > div {
    display: table-cell;
    text-align: center;
    border: 1px solid rgba(191, 191, 191, 0.25);
    padding: 10px 0 10px;
    width: 33%;
}

.stats .stat-value {
    font-size: 200%;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row.dx-header-row > td {
    background-color: transparent;
}

.IconUser .dx-texteditor-container .dx-texteditor-input {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADrSURBVEhL3dU9C0FRHMfxK8WklJTNCzBIXoOVQSmDRclutygGsVgYrF6IlCzegRKLLKIYDB6+Z1Cn45+H4yr51me753fucnF+JR9yaKCGFDxwpThmuBiGiOCjwljDHL8Zwwvr6pCGdVlYN4E0quvCujmkUd0A1i0gjep++4IppFFdH9b1II3qSrAuhiOkYWWJAD4qjxPM8S2ScCU1Zl4wgmt97YIQmjDHlQPK8OPtouhgD2lct0IVQTxN/cZXoN5OGntEXZTBw9qQDr/qjALEElAPSAffsYP4bai/QumAjTTuamHjkiL+Ise5Aj4X0h1KcWffAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px,20px;
    background-position-x: 5px;
    padding-left: 30px;
}

.IconPassword .dx-texteditor-container .dx-texteditor-input {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFKSURBVEhL3dW/K0ZRHMfxqxAyUCx6YmaQiZj9DcQikowGWZTRZBWLzWRRykaKbBY/IjFQQgyykAXvj+MpHV/XOfc+g3zqVd/n3Hu/93nuOfc8yV9LLapdWbpUYRoXuMId9jGMMuRKDXawhIIGPtOBLWg8100WMOfKbynHBkY/PmVIPW6hX/FT2nDqyvj0YtWVqblEgyvjMoBFVyYV6MYg+tCO4rM/QLMr46JmmsQZ3OPNc44hHCLzDV7hN/bpnBZERStkG1ZDyzyiMg6rUZouBOcEVpM0ywhKE6wGj5jALKy5uUFQOuFfLF/faG0T1jlazr+mFdbFu9DG1wh9W//4M4Ki7fgJfgPR5GvFWMf2EJwVWE3WceSNFU0hONrEXmA1slxDf0ZRGUPIm6xn34NM6ccDrMZyBq26XKnDJDahDe4YaxhBJf51kuQdiNeplCywTB8AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px,20px;
    background-position-x: 5px;
    padding-left: 30px;
}

.TieneIcono .dx-placeholder {
    padding-left: 25px;
}

 .sub-title {
    font-size: 80%;
    color: rgba(152, 152, 152, 0.8);
}

.delete-button {
    text-align: center;
}
.delete-button div {
    width: 98%;
}
.msg {
    width: 100%;
    padding-bottom: 10px;
}
.dx-theme-ios .msg-button-left {
    width: 44%;
    margin: 0 4% 0 0;    
    float: left;
}
.dx-theme-ios .msg-button-right {
    width: 44%;
    margin: 0 0 0 4%;    
    float: left;
}

.dx-theme-ios #deleteConfirmation {
    height: 135px !important;
}

.dx-theme-android .msg-button-left {
    width: 42%;
    margin: 0 3% 0 0;    
    float: left;
}
.dx-theme-android .msg-button-right {
    width: 42%;
    margin: 0 0 0 3%;    
    float: left;
}
.dx-theme-android #deleteConfirmation {
    height: 150px !important;
}
